{% extends "base.html" %}
{% block start %}
<div class="container">
  <div class="mx-auto border p-1 mt-3 rounded">
    <h1 class="text-center mt-4">{{student.student_name}} Marks List</h1>
    <h4>Rank: {{currentRank}}</h4>
    <h4>Total: {{total_marks.total_marks}}</h4>
    <table class="table table-striped mt-4 border">
      {% for marks in querySet %}
      <tr>
        <td>{{forloop.counter}}</td>
        <td>{{marks.subject.subject_name}}</td>
        <td>{{marks.marks}}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>
{% endblock %}
