{% extends "base.html" %}
{% block start %}

<div class="container mt-5">
    <form class="col-6 mx-auto shadow rounded px-5 py-3" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <h1 class="text-center">Register</h1>
        {% if messages %}
        <div class="messages">
            {% for message in messages %}
            {% if message.tags == "success" %}
            <p class="fs-4 mx-auto text-success">{{ message }}</p>
            {% endif %}
            {% endfor %}
        </div>
        {% endif %}
        <div class="mb-3">
            <input type="text" name="first_name" class="form-control" id="" placeholder="First Name">
        </div>
        <div class="mb-3">
            <input type="text" name="last_name" class="form-control" placeholder="Last name">
        </div>
        <div class="mb-3">
            <input type="text" name="username" class="form-control" placeholder="Username">
            {% if messages %}
            <div class="messages">
                {% for message in messages %}
                {% if message.tags == "error" %}
                <p class="mx-2 text-danger">{{ message }}</p>
                {% endif %}
                {% endfor %}
            </div>
            {% endif %}
        </div>
        <div class="mb-3">
            <input type="password" name="password" placeholder="Password" class="form-control"
                   id="exampleInputPassword1">
        </div>
        <p>Already have an account? <a href="/login_page/">Login</a></p>
        <button type="submit" class="btn btn-primary d-flex mx-auto">Submit</button>
    </form>
</div>

{% endblock %}